html {
    font-size: 15pt;
}

body {
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    word-break: normal;
    text-align: justify;
    position: relative;
}

#homepage main{
    position: relative;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

p, i{
    padding: 0;
    margin: 0;
}

form .btn {
    font-size: 0.50rem;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
}

h2{
    font-size: 45px;
    margin-bottom: 10px;
}

h3{
    font-size: 40px;
    margin-bottom: 10px;
}

h4{
    font-size: 35px;
    margin-bottom: 10px;
}

h5{
    font-size: 30px;
    margin-bottom: 10px;
}

.navbar-nav{
    padding: 5px;
}

.navbar-brand{
    padding: 5px;
}

.nav-link{
    border: none;
    outline: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.nav-link.active {
    background-color: #666;
    color: white !important;
}

.nav-link:hover {
    background-color: #ddd;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.row {
    margin: 0;
}

.form-control {
    font-size: 0.50rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: black;
}

.overbg {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

.list-group-item.active{
    background-color: #666;
    border-color: #666;
}

.vastsocial {
    position: fixed;
    top: 35%;
    right: 15px;
}

.vastscroll {
    position: fixed;
    top: 35%;
    left: 15px;
}

.enter {
    top: 50%;
    right: 200px;
    position: absolute;
}

#galerij .column {
    float: left;
    display: none;
}

#galerij .row:after {
    content: "";
    display: table;
    clear: both;
}

#galerij .content {
    background-color: white;
    padding: 10px;
}

#galerij .show {
    display: block;
}

#galerij .btn {
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
}

#galerij .btn:hover {
    background-color: #ddd;
}

#galerij .btn.active {
    background-color: #666;
    color: white;
}

#galerij .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

#lastminutes, #bezienswaardigheden{
    background-color: #cecece;
}

#aboutus, #homepage{
    background-image: url("../img/zanzibar.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#index {
    position: fixed;
    z-index: -1;
}

#myBtn {
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 5;
    border: none;
    outline: none;
    cursor: pointer;
}

#myBtn:hover {
    color: #666;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}